{% include 'head.html.twig' %}
<body class="dashboard-body">
	<div class="dashboard-container">
		<div class="left-bar">
			{% include 'leftPanel.html.twig' %}
		</div>
		<div class="right-bar">
			{% include 'rightPanel.html.twig' %}
		</div>
	</div>
</body>
