{% include 'head.html.twig' %}
<body>
	<div class="main-container">
		<div class="left-bar">
			{% include 'leftPanel.html.twig' %}
		</div>
		<div class="right-bar">
			{% include 'rightPanel.html.twig' %}
		</div>
	</div>

</body>
