<div class="text-center">
    <div class="image-container">
        <img src="../src/public_html/assets/images/01d.png" height="200" width="200"/>
    </div>
    <h2 class="text-big temperature-title">12°C</h2>
    <div class="left-title">
        <p>Monday, 
        <span class="hour-title">16:00</span></p> 
    </div>
</div>
<div class="separator-h"></div>
<div class="text-center">
    <div class="left-title"> Most cloudly</div>
    <div class="left-title"> Rain - 30%</div>
</div>
 <div class="image-container">
    <img src="https://picsum.photos/300/100" width="300" height="100" style="border-radius: 15px; filter: grayscale(100%);;"/>
    <div class="centered">New York, NY, USA</div>
 </div>
