<div>
<input type="text"/>
<button>Search</button>
</div>
<div>
    <img src="https://cdn.dribbble.com/users/953678/screenshots/10460680/media/13cb59ace4e8a296217b01896c413a69.png" height="200" width="300"/>
    <p>12°C</p>
    <p>Monday, 16:00</p>
</div>
<div class="separator-h"></div>
<div>
    <div> Most cloudly</div>
    <div> Rain - 30%</div>
</div>
 <div class="image-container">
    <img src="https://cdn.dribbble.com/users/953678/screenshots/10460680/media/13cb59ace4e8a296217b01896c413a69.png" height="100" width="300"/>
    <div class="centered">New York, NY, USA</div>
 </div>
