<div >
    <h3 class="right-panel-title">Today Highlight's</h3>
	<div class="card-container">
		<div class="card">
        	<div class="card-title">Wind Status</div>
			<div class="card-body">
				7.70 km/h
			</div>
			<div class="card-footer">Average</div>
        </div>
		<div class="card">
        	<div class="card-title">Sunrise & Sunset</div>
			<div class="card-body">
				7.70 km/h
			</div>
        </div>
	</div>
	<div class="card-container">
		<div class="card">
        	<div class="card-title">Wind Status</div>
			<div class="card-body">
				7.70 km/h
			</div>
        </div>
		<div class="card">
        	<div class="card-title">Wind Status</div>
			<div class="card-body">
				7.70 km/h
			</div>
        </div>
	</div>
</div>
