<div >
    <h1>Today Highlight's</h1>
	<div class="card-container">
		<div class="card">
        <div class="card-title">Wind Status</div>
        </div>
		<div class="card">t</div>
	</div>
	<div class="card-container">
		<div class="card">t</div>
		<div class="card">t</div>
	</div>
</div>
