.error-container {
  z-index: 800;
  position: absolute;
  top: 600px;
  left: 325px;
  width: 300px;
  padding: 20px;
  border-radius: 15px;
  background: white;
  border: solid 1px brown;
  box-shadow: rgba(77, 77, 77, 0.349) -5px -5px 5px;
}

.error-title {
  color: rgb(243, 74, 74);
}

.error-body {
  font-weight: 200;
}
