.login-body {
  margin: 0;
  background-image: url("../images/login-bg.jpg");
  background-position: center top;
  background-size: 100% auto;
}

.login-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 50px;
  max-width: 720px;
  max-height: 480px;
}

.login-title {
  text-align: center;
}

.login-input-container {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
}

.login-input {
  margin-left: 12px;
  padding: 20px 10px;
  border-radius: 15px;
  border: 0;
  border-bottom: var(--color-text-secondary) 1px solid;
  font-family: "Roboto";
  font-size: 16px;
}
:focus {
  border: 0;
  border-bottom: var(--color-text-main) 1px solid;
}

.login-button {
  padding: 14px 80px;
  background-color: var(--color-bg-tertiary);
  color: black;
  border: 0;
  border-radius: 25px;
  cursor: pointer;
  font-family: "Roboto";
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
}
.login-button:hover {
  background-color: var(--color-bg-secondary);
}

.login-show-hide {
  background-color: var(--color-bg-primary);
  border: 0;
  padding: 10px;
  margin-left: 10px;
  align-items: baseline;
}

.form {
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sign-link {
  color: black;
  text-decoration: none ;
}
